.vs/
build/
!*/build/
include/
!*/include/
lib/
!*/lib/
lib_archive/
!*/lib_archive/
others/
!*/others/
packing_resources/
!*/packing_resources/
shaders/
!*/shaders/
*.aps
*.user
*.log