.vs/
build/
!*/build/
lib/
!*/lib/
lib_archive/source
lib_archive/compiled_backup
logs/
!*/logs/
others/
!*/others/
packs/
!*/packs/
packing_resources/VC_redist.x64.exe
scripts/shadercDebug.exe
shaders/
!*/shaders/
test/
!*/test/
*.aps
*.user